name: Browser tests
on:
    workflow_dispatch:
        inputs:
            send-success-notification:
                description: 'Send a notification when the tests pass'     
                required: false
                type: boolean
                default: false
            project-version:
                description: 'Fill only when the tests should run on a stable release'
                required: false
                type: string
                default: ''
    push:
        branches:
            - master
            - "[0-9]+.[0-9]+"
    pull_request: ~

jobs:
    regression-oss-setup1:
        name: "PHP 7.4/Node 18/PostgreSQL 18.0/Varnish/Redis 7.2"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "oss"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=oss"
            test-setup-phase-1: "--profile=regression --suite=setup-oss --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-postgresql18.yml:doc/docker/varnish.yml:doc/docker/redis7.2.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            multirepository: true
            php-image: "ghcr.io/ibexa/docker/php:7.4-node18"
            job-count: 2
            timeout: 60
        secrets: inherit
    regression-oss-setup2:
        name: "PHP 8.0/Node 20/MariaDB 11.4/Compatibility layer/Valkey latest"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "oss"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=oss"
            test-setup-phase-1: "--profile=regression --suite=setup-oss --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-mariadb11.4.yml:doc/docker/valkey-latest.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            multirepository: true
            use-compatibility-layer: true
            job-count: 2
            timeout: 60
            php-image: "ghcr.io/ibexa/docker/php:8.0-node20"
        secrets: inherit
    regression-oss-setup3:
        name: "PHP 8.3/Node 22/MySQL 8.4/Solr 8/Redis latest"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "oss"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=oss"
            test-setup-phase-1: "--profile=regression --suite=setup-oss --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-mysql8.4.yml:doc/docker/solr8.yml:doc/docker/redis-latest.yml:doc/docker/selenium.yml"
            php-image: "ghcr.io/ibexa/docker/php:8.3-node22"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            job-count: 2
            timeout: 60
        secrets: inherit
